@color-very-white: #fff; // not to be used lightly
@color-white: #eee;
@color-light-gray: #ccc;
@color-medium-gray: #999;
@color-dark-gray: #666;
@color-black: #333;
@color-very-black: #000; // not to be used darkly

@padding-light: 15px;
@padding: 30px;
@padding-medium: @padding;
@padding-heavy: 60px;

body {
	background: @color-dark-gray;
	color: @color-white;
}

.boot-text {
	text-align: center;
}

.strap-text {
	text-align: center;
}



/* col-xs-* Extra Small Devices, Some Phones */
@media only screen and (min-width : 480px) {

}

/* col-sm-* Small devices (tablets, 768px and up) */
@media only screen and (min-width : 768px) {
	.boot-text {
		text-align: right;
	}
	.strap-text {
		text-align: left;
	}
}

/* col-md-* Medium devices (desktops, 992px and up) */
@media only screen and (min-width : 992px) {

}

/* col-lg-* Large devices (large desktops, 1200px and up) */
@media only screen and (min-width : 1200px) {

}